splash = false

preload = ~/.config/backgrounds/background_laptop.png
preload = ~/.config/backgrounds/background_left.png
preload = ~/.config/backgrounds/background_right.png

wallpaper {
    monitor = eDP-1
    path = ~/.config/backgrounds/background_laptop.png
}

wallpaper {
    monitor = desc:Lenovo Group Limited LEN D27-20B 0x31434635
    path = ~/.config/backgrounds/background_left.png
}

wallpaper {
    monitor = desc:Lenovo Group Limited LEN D27-20B U733018L
    path = ~/.config/backgrounds/background_right.png
}
