* {
  font-family: "JetBrainsMono Nerd Font", monospace;
  font-size: 16px;
  font-weight: bold;
  color: #0a4021;
  /*color: #272E33;
  background: transparent;
  border: none;*/
}
window#waybar {
    background: transparent;
}
/*window#waybar {
  background: #191724;
  border-bottom: 2px solid #26233a;
}*/

#workspaces {
  background: #0a4021;
  border-radius: 8px;
  margin: 4px 6px;
  padding: 2px;
}

#workspaces button {
  padding: 0 8px;
  background: #FFFBEF;
  color: #0a4021;
  border-radius: 4px;
  margin: 2px;
}

#workspaces button.active {
  background: #A7C080;
  color: #272E33;
}

#workspaces button:hover {
  background: #E69875;
  color: #272E33;
}

#clock,
#battery,
#network,
#custom-vpn,
#pulseaudio,
#backlight,
#bluetooth,
#power-profiles-daemon,
#custom-notification,
#custom-exit {
  margin: 4px 6px;
  padding: 0 3px;
  background: transparent;
  border-radius: 8px;
  color: #FFFBEF;
}

#custom-vpn.disconnected {
  color: #859289;
}

#bluetooth.off,
#bluetooth.disabled {
  color: #859289;
}

#window {
  color: #000000;
  font-weight: bold;
}

#battery.warning {
  color: #E69875;
  background: #FFFBEF;
}

#battery.critical {
  color: #E67E80;
  background: #FFFBEF;
}

#tray {
  background: #D3C6AA;
  border-radius: 8px;
  margin: 4px 6px;
  padding: 0 8px;
}

tooltip {
  background: #D3C6AA;
  border-radius: 8px;
  color: #FFFBEF;
}


